.chatbox{
    height: 550px;
    width: 90%;
    background: #202020;
    padding: 20px;
    overflow: scroll;
    align-self: center;
}
.userName{
    color: palevioletred;
    display: block;
}
.userMessage{
    color: white;
    display: block;
}
.inputText{

}